.line {
  background: white;
  height: 8px;
  width: 50px;
  margin: 30px 0px;
  border-radius: 5px;
}

.header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 3%;
  width: 60px;
  display: flex;
  align-items: center;
}
.active-line .line {
  height: 12px;
}
