@import "./header.css";
@import "./home.css";
@import "./projects.css";
@import "./work.css";
@import "./team.css";
@import "./navbar.css";
@import "./testimonial.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue+Inter+Montserrat&display=swap");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(
    180deg,
    rgb(0, 4, 249) 0%,
    rgba(93, 139, 244, 0) 85%
  );
}

.web_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 67px;
  color: #051367;
  margin: 0 auto;
}

.web_title span{
  color: #2D31FA;
 
}
