@import "./header.css";
@import "./home.css";
@import "./projects.css";
@import "./work.css";
@import "./navbar.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue+Inter+Montserrat&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Prompt:ital,wght@0,100;1,400&display=swap"); */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(180deg, rgb(0, 4, 249) 0%, rgba(93, 139, 244, 0) 85%);

}
