.content-text{
    height: 50vh;
    text-align: center;
    color: #051367;
    font-family: 'Inter';
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
    flex-direction: column;
    line-height: 48px;
    z-index: 100;
    width: 100%;
    background-color: white;

}

.subtitle{
    font-size: 22px;
    line-height: 15px;
}

@media only screen and (max-width: 845px) {
    .content-text{
        width: 100%;
    }
}