.content-text{
    background-color: white;
    height: 50vh;
    text-align: center;
    color: #051367;
    font-family: 'Inter';
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    line-height: 48px;
}

.subtitle{
    font-size: 22px;
    line-height: 15px;
}