.content-ubication{
    background-color: white;
    width: 100%;

}

.content-map{
    display: flex;
    flex: row;
}

.input{
    border: 1px solid #BFBFBF;
    border-radius: 9px;
    width: 100%;
    height: 56px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.textarea{
    border: 1px solid #BFBFBF;
    border-radius: 9px;
    width: 100%;
    height: 223px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.map__image{
    width: 50%;
}
.map__image img{
    width: 100%;

}
.map__form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}