.content-ubication{
    background-color: white;
    width: 100vh;

}

.content-map{
    display: flex;
    flex: row;
}

.input{
    border: 1px solid #BFBFBF;
    border-radius: 9px;
    width: 100%;
    height: 56px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding-left: 30px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #010101;
    opacity: 0.44;


}

.textarea{
    border: 1px solid #BFBFBF;
    border-radius: 9px;
    width: 100%;
    height: 223px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #010101;
    padding-left: 30px;
    opacity: 0.44;

}

.form{
    margin-right: 35px;
    width: 70%;
}



.map__image{
    width: 50%;
}
.map__image img{
    width: 100%;

}
.map__form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 70px;
  
}

.form__wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



@media only screen and (max-width: 1287px) {
    .content-map{
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }

    .map__image,.map__form{
        width: 70%;
    }



}

@media only screen and (max-width: 900px) {
    .map__image{
       display: none;
    }

    .map__image,.map__form{
        width: 100%;
    }
    .form__wrapper{
        width: 100%;
    }
    .map__form{
        margin-top: 15%;
    }

}

@media only screen and (max-width: 477px) {
    .form{
        width: 100%;
        margin: 0;
        margin-left: 20px !important;
    }


}



