.content-work {
  height:auto;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  overflow: hidden;
  padding-top: 5%;
  padding-bottom: 5%;
}


.wrapper {
  background-color: blue;
  width: 100%;
 
}

.whyUs_container {
  background-color: #FBFCFF;
  width: 80%;
  height: 835px;
  border-radius: 34px;
  box-shadow: 2px 3px 5px rgba(114, 113, 113, 0.18);
  z-index: 10;
}

.container__section_one{
  display: flex;
  padding-top: 50px;
  padding-left: 55px;
  padding-right: 60px;
}
.container__section_two{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container__section_one div p{
  font-family: 'Monserrat';
  color: #051367;
  font-weight: 400;
  font-size: 22px;
}
.container__list{
  display: flex;
  gap: 45px;
}

.container__list li{
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
  font-family: 'Monserrat';
  
}

.carousel{
  width: 50%;
  height: 500px;
  overflow-x:scroll;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  
}

